body{
	background-color: #whitesmoke;
	margin: 0;
	padding-top: 50px;
	padding-bottom: 25px;
	font-family: times new roman;

}

header{
	background-color: #e6d7c3;
	margin: 40;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
}

header h1{
	color: #9e8f7a;
	text-align: center;
	font-family: didot, sans-serif, times new roman;
	font-size: 50px;
	font-display: auto;
	font-style: bold;
}

header img{
	border-radius: 700px;
	width: 200px

}

main{
	padding-right: 50px;
	padding-left: 50px;
	max-width: 500px;
	margin: 10 auto;
	padding-left: 500px;

}

main img{
	max-width: 100%;
}

h2{
	font-family: didot;
		font-family: didot, sans-serif, times new roman;
	font-size: 25px;
	font-display: length;
	font-style: bold;
}

h1, h2{
	line-height: 70px;
}

a{
	color: #9e8f7a;

}

a:hover{
	color: #e6d7c3;
	opacity: 0.5;
	background-color: #ada499;
}

footer{
	margin: 40;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
}

p.caption{
	color: #555555;
	font-size: 10px;
	text-align: right;
}
